.login{
    overflow: hidden;
    min-height: 100vh;
    width: 60%;
    float: left;
    background: url("./media/guc_login_6.jpg");
    background-size: cover;


}
.feedpage{
    overflow: hidden;
    min-height: 100vh;
    float: left;
}

.feed,.add-form{
    overflow: hidden;
    min-height: 100vh;
    float: left;
    width: 70%;
    margin: 20px;
}
